<p id="notice"><%= notice %></p>

<h1>Listing Customers (Listando clientes)</h1>

<%
  data = "12/12/2012"
  hora = "12:30"
%>

<%= "Página gerada na data #{data} - #{hora}"%>

<table>
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("email") %></th>
      <th><%= t("birthday") %></th>
      <th><%= t("observation") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= l(customer.birthday) %></td>
        <td><%= customer.observation %></td>
        <td><%= link_to t('show'), customer %></td>
        <td><%= link_to t('edit'), edit_customer_path(customer) %></td>
        <td><%= link_to t('destroy'), customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
