<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('name')%>:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong><%= t("email")%>:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong><%= t("birthday")%>:</strong>
  <%= l(@customer.birthday) %>
</p>

<p>
  <strong><%= t("observation")%>:</strong>
  <%= @customer.observation %>
</p>

<%= link_to t('edit'), edit_customer_path(@customer) %> |
<%= link_to t('back'), customers_path %>
